
/*Setting iniziale della pagina web */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    cursor: default;
    scroll-behavior: smooth;
    box-sizing: border-box; }
  
  html {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 10px; 
    background-color: #f5f5f5;
    }

    .only-mobile{
        display: none;
    }

/* pannello mobile */

.invisible{
    display: none;
}

#pannello-mobile{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;

    z-index: 4;
}

.close{
    position: absolute;
    cursor: pointer;
    width:3rem;
    right: 13%;
    top: 3%;
    right: 5%;
}

.close:hover{
    opacity: 0.8;
}



.menu-mobile{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    list-style-type: none;
}

.menu-mobile li{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .15rem;
    color:white;

    padding-bottom: 1rem;
    margin-bottom: 5rem;

    cursor: pointer;
}

.menu-mobile li:hover{
    border-bottom: 1px solid white;
}

.social-container{
    position: absolute;
    left:50%;
    bottom: 20%;
    transform: translate(-50%);
}
.social-pan{
    width: 4rem;
    margin: 1rem;
    cursor: pointer;

    transition: all .5s;
}

.social-pan:hover{
    opacity: 0.5;
}


/* navigazione */

#navigation{
    position: fixed;
    width: 100%;

    padding-top:3rem ;
    padding-bottom: 3rem;

    background-color: black;
    z-index: 2;
}

.logo{
    position: absolute;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
    cursor: pointer;

    width: auto;
    height: 3rem;
}

.indice{
    position: absolute;
    top: 60%;
    right: 20%;
    transform: translateY(-50%);

    list-style-type: none;
}

.indice li{
    float: left;
    width: 10rem;
    margin-left: 2rem;

    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .15rem;
    color:white;

    padding-bottom: .3rem;

    cursor: pointer;
}

.indice li:hover{
    border-bottom: 1px solid white;
}

.social{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    animation: all .5s;
    width: 3rem;
}

.logo-facebook{
    right: 13%;
}

.logo-instagram{
    right: 16%;
}

.social:hover{
    opacity: 0.8;
}


/* Sezione delle sedi */

#sedi{
    position: relative;
    width: 100%;
}

#sedi::after{
    content: "";
    display: table;
    clear: both; 
}

.box-sede{
    position: relative;
    margin-top: 6rem;
    width: 50%;
    height: 50vh;
    float: left;
}



.box-sede::after{

    position: absolute;
    content:"";
    
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;

    transition: all .5s;
}

.box-sede:hover:after{
    opacity: 0.5;
}

.osio-sopra{
    background-image: url("../source/sedi/osio.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    transition: all 1s;
}

.osio-sopra:hover{
    background-size: 170%;
}

.mozzo{
    background-image: url("../source/sedi/mozzo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    transition: all 1s;
}

.mozzo:hover{
    background-size: 180%;
}

.hero-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    z-index: 1;
}

.nome-sede{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    line-height: 4.5rem;
    font-weight: 700;
    font-size: 5rem;
    color: white;

    text-decoration: none;
}



.divisore{
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    background-color: white;
    width: 10rem;
    height: .1rem;
}

.sottotitolo{
    margin: 0 auto;
    display: block;

    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .2rem;
    color: white;

}

/* Sezione "chi siamo" */

#chisiamo{
    position: relative;
    width: 100%;

    content: "";
    display: table;
    clear: both; 
}


.separatore{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: .1rem;
    height: 50%;
    background-color: gray;
}


.sezione-chisiamo{
    position: relative;
    float: left;
    width: 50%;
    height: 50vh;
}


.logo-grande{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

.center-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    padding-bottom: 2rem;
    border-bottom: .025rem solid gray;
    margin-bottom: 2rem;
    color: black;
}

.descrizione-testo{
    text-align: center;
    font-size: 1.4rem;
}

/* Chi siamo */
#news{
    position: relative;
    background-color:#4482c3;
    width: 100%;

    padding-top: 8rem;
    padding-bottom: 8rem;

    content: "";
    display: table;
    clear: both; 
}

#news::after{
    content: "";
    display: table;
    clear: both; 
}


.heading-news{

    width: 300px;

    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    padding-bottom: 2rem;
    border-bottom: .025rem solid white;
    margin-bottom: 8rem;
    color: white;
}

.heading-news::after{
    content: "";
    display: table;
    clear: both; 
}


.news-box{
    position: relative;
    width: 74%; /* 100 - 13% da destra e 13% da sinistra*/ 
    margin: 0 auto;

}

.news-box::after{
    content: "";
    display: table;
    clear: both; 
}


.notizia{
    width: 49%;
    height:15vh;
    position: relative;
    float:left;
}

.immagine_notizia{
    width: 60%;
    display: block;
    height: auto;
    margin: 0 auto;
}

.data{
    position:absolute;
    width: 30%;
    color:white;
    font-size: 3rem;
    
}


.contenuto{
    position:absolute;
    width: 70%;
}

/* news di destra */

.data-destra{
    right: 55%;
}

.contenuto-destra{
    right: 0;
}

/* news di sinistra */
.data-sinistra{
    left: 0;
}

.contenuto-sinistra{
    left: 15%;
}

.titolo-news{
    margin-top: 1rem;
    text-align: left;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: .5rem;
    color: white;
}


.testo{
    color:white;
    font-size: 1.5rem;
}

/* footer */

#footer{
    position: relative;
    width: 100%;
    background-color:black;
    padding-top:2rem;
    padding-bottom:2rem;

    color:white;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
}


.none{
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.animated{
    animation:  vanishFromBottom 1s backwards;
}

.animatedFast{
    animation:  vanishFromBottom .5s backwards;
}


@keyframes vanishFromBottom{

    0% {
        opacity: 0; 
        transform: translateY(50px);
      }
  
      100%{
        transform: translateY(0);
        opacity: 1;
      }

}


